* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-image: url("https://img.freepik.com/vetores-gratis/quadro-de-fundo-cinza-fluido_53876-116701.jpg?w=740&t=st=1685593689~exp=1685594289~hmac=e150379bda5b14d3075d49940e77375e79fdcbce1361b005d832e0f63cc8e056");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #E8F1F2;
}

.header {
    background-color: #073877;
    height: 3rem;
    width: 80%;
    margin: 0 auto;
}

.header>nav {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
    margin-right: 2rem;
    height: 100%;
}

.header>nav>a {
    color: #E8F1F2;
    text-decoration: none;
    font-size: 1rem;
}

.header>nav>a:hover {
    text-decoration: underline;
}

.home-page-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: #1b59e0;
}

.home-page-section>ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: 100%;
    padding: 1rem;
}

.home-page-section>ul>li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
    border: 1px solid #E8F1F2;
    border-radius: 5px;
    padding: 1rem;
}

.home-page-section>ul>li>img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
}

.home-page-section>ul>li>span {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #E8F1F2;
}

.home-page-section>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.home-page-section>div>h1 {
    width: 100%;
    color: #E8F1F2;
    font-size: 2rem;
    text-align: center;
    padding: 0.8rem;
    margin-bottom: 2rem;
}